Return the data set below, show the following:

\- Return the avg unit price for each product category

\- Order them from greatest to least by Avg Unit Price

\- Round the Avg Price to two decimals

\- Alias the names as show below:

In [ ]:
-- Level I
SELECT cat.CategoryName as 'Category Name'
      ,round(avg(prod.UnitPrice),2) as 'Avg Unit Price'
FROM dbo.Categories cat
	INNER JOIN dbo.Products prod
	ON cat.CategoryID = prod.CategoryID
GROUP BY cat.CategoryName
ORDER BY [Avg Unit Price] DESC
;

Using your products Avg Unit Price Query from the section above:

\- Return the same query results but ONLY for Avg Unit Prices Greater than or equal to 25.00

In [ ]:
-- Level II
SELECT cat.CategoryName as 'Category Name'
      ,round(avg(prod.UnitPrice),2) as 'Avg Unit Price'
FROM dbo.Categories cat
	INNER JOIN dbo.Products prod
	ON cat.CategoryID = prod.CategoryID
GROUP BY cat.CategoryName
HAVING avg(prod.UnitPrice) > 25.00
ORDER BY [Avg Unit Price] DESC
;

Using your products Avg Unit Price Query from the section above (Level II)-:

\- Return the same data - convert it to a CTE - \*Using WITH\* (for Pat's memory)

In [ ]:
-- Level III
WITH lvl1_Cat as
(
SELECT cat.CategoryName 
      ,round(avg(prod.UnitPrice),2) as 'avgUnitPrice'
FROM dbo.Categories cat
	INNER JOIN dbo.Products prod
	ON cat.CategoryID = prod.CategoryID
GROUP BY cat.CategoryName
)
SELECT CategoryName as 'Category Name'
      ,avgUnitPrice as 'Avg Unit Price'
FROM lvl1_Cat
WHERE avgUnitPrice >= 25.00
ORDER BY 2 DESC
;